@use '../abstracts' as *;

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 0 0.938rem 1.875rem -0.688rem rgba(131, 167, 210, 0.5);

	@include breakpointMobile(48rem) {
		&--cyan {
			grid-column: 1 / 3;
			grid-row: 2 / 3;
		}

		&--red {
			grid-column: 2 / 4;
			grid-row: 1 / 2;
		}

		&--orange {
			grid-column: 3 / 5;
			grid-row: 2 / 3;
		}

		&--blue {
			grid-column: 2 / 4;
			grid-row: 3 / 4;
		}
	}

	@include breakpointMobile(80rem) {
		&--cyan {
			grid-column: 1 / 2;
			grid-row: 2 / 4;
		}

		&--red {
			grid-column: 2 / 3;
			grid-row: 1 / 3;
		}

		&--orange {
			grid-column: 2 / 3;
			grid-row: 3 / 5;
		}

		&--blue {
			grid-column: 3 / 4;
			grid-row: 2 / 4;
		}
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 0.25rem;
	}

	&--cyan::before {
		background: $color-cyan;
	}

	&--red::before {
		background: $color-red;
	}

	&--orange::before {
		background: $color-orange;
	}

	&--blue::before {
		background: $color-blue;
	}

	div {
		h2 {
			font-size: 1.25rem;
			font-weight: 600;
			line-height: 1.35;
			color: $color-grey-500;
			margin-block-end: 0.375rem;
		}

		p {
			font-size: 0.813rem;
			line-height: 1.6;
			letter-spacing: 0.006rem;
			color: $color-grey-400;
		}
	}

	img {
		width: 4rem;
		height: 4rem;
		align-self: flex-end;
	}
}
